$blue: #1F3656;
$blueLight: #314C71;
$green: #558D28;
$black: #222222;
$greyMedium: #444444;
$greyLight: #EFEFEF;
$white: #FEFEFE;

// override bootstrap colours
$primary: $blue;
$secondary: $green;
$light: $black;
$dark: $greyLight;