/* AddEvent theme CSS
---------------------------------------------------------------------- */

/* The button */
.addeventatc {
  display:inline-block;
  position:relative;
  z-index: 2;
  font-weight:300;
  color:#333;
  text-decoration:none;
  font-size:16px;
  cursor:pointer;
}
.addeventatc .start, .addeventatc .end, .addeventatc .timezone, .addeventatc .title, .addeventatc .description, .addeventatc .location, .addeventatc .organizer, .addeventatc .organizer_email, .addeventatc .facebook_event, .addeventatc .all_day_event, .addeventatc .date_format, .addeventatc .alarm_reminder, .addeventatc .recurring, .addeventatc .attendees, .addeventatc .calname, .addeventatc .uid, .addeventatc .status, .addeventatc .method, .addeventatc .client {display:none!important;}

/* The drop down */
.addeventatc_dropdown 					{width:200px;position:absolute;z-index:99999;padding:6px 0px 0px 0px;background:#fff;text-align:left;display:none;margin-top:4px;margin-left:-1px;border-top:1px solid #c8c8c8;border-right:1px solid #bebebe;border-bottom:1px solid #a8a8a8;border-left:1px solid #bebebe;-moz-border-radius:2px;-webkit-border-radius:2px;-webkit-box-shadow:1px 3px 6px rgba(0,0,0,0.15);-moz-box-shadow:1px 3px 6px rgba(0,0,0,0.15);box-shadow:1px 3px 6px rgba(0,0,0,0.15);}
.addeventatc_dropdown span 				{display:block;line-height:100%;background:#fff;text-decoration:none;font-size:14px;color:#333;padding:9px 10px 9px 40px;}
.addeventatc_dropdown span:hover 		{background-color:#f4f4f4;color:#000;text-decoration:none;font-size:14px;}
.addeventatc_dropdown em 				{color:#999!important;font-size:12px!important;}
.addeventatc_dropdown .frs 				{background:#fff;color:#cacaca!important;cursor:pointer;font-size:9px!important;font-style:normal!important;font-weight:normal!important;line-height:110%!important;padding-left:10px;position:absolute;right:10px;text-align:right;text-decoration:none;top:5px;z-index:101;}
.addeventatc_dropdown .frs:hover 		{color:#999!important;}
.addeventatc_dropdown .ateappleical 	{background:url(/static/img/icons/addtocalender/icon-apple-t1.svg) 13px 50% no-repeat;background-size:14px auto;}
.addeventatc_dropdown .ategoogle 		{background:url(/static/img/icons/addtocalender/icon-google-t1.svg) 13px 50% no-repeat;background-size:16px auto;}
.addeventatc_dropdown .ateoutlook 		{background:url(/static/img/icons/addtocalender/icon-outlook-t1.svg) 12px 50% no-repeat;background-size:16px auto;}
.addeventatc_dropdown .ateoutlookcom 	{background:url(/static/img/icons/addtocalender/icon-outlook-t1.svg) 12px 50% no-repeat;background-size:16px auto;}
.addeventatc_dropdown .ateyahoo 		{background:url(/static/img/icons/addtocalender/icon-yahoo-t1.svg) 12px 50% no-repeat;background-size:16px auto;}
.addeventatc_dropdown .atefacebook 		{background:url(/static/img/icons/addtocalender/icon-facebook-t1.svg) 13px 50% no-repeat;background-size:14px auto;}
.addeventatc_dropdown .copyx 			{height:21px;display:block;position:relative;cursor:default;}
.addeventatc_dropdown .brx 				{height:1px;overflow:hidden;background:#e0e0e0;position:absolute;z-index:100;left:10px;right:10px;top:9px;}


.addeventatc {
  color: get-color(primary);
  font-size: 13px;
  &:hover {
    text-decoration: underline;
  }
}