// Boxed Forms
// -----------

.form-box {
  position: relative;
  padding: 1.5rem;
  background: $white;
  color: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px $black;
  margin: 1.5rem 0;
  width: 100%;
  flex-direction: column;
  @include breakpoint(large) {
    flex-direction: row;
    justify-content: center;
  }

  .form-header {
    display: flex;
    align-items: center;

    @include breakpoint(xxlarge) {
      min-width: 345px;
    }
    @include breakpoint(medium down) {
      width: 100%;
    }
    
    & > p {
      flex-grow: 1;
      text-align: center;
      @include breakpoint(large) {
        text-align: left;
      }
    }
  }

  p {
    font-size: 21px;
    line-height: 1.25;
    margin-bottom: 0;
  }

  // toggle
  span[data-toggle] {
    color: $primary-color;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in;
    cursor: pointer;
    margin-left: 1rem;
    padding: 0.5rem;
  }
  &.is-open span[data-toggle] {
    transform: rotate(180deg);
  }

  // fields
  .form-box-fields {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: max-height 0.2s ease-in, opacity 0.2s ease-in;
    @include breakpoint(medium) {
      flex-direction: row;
      max-height: unset;
      visibility: visible;
      opacity: 1;
    }

    // general
    input,
    select {
      border: 1px solid $black;
      background-color: $white;
      display: inline;
      margin-bottom: 1rem;
      margin-left: 10px;
      height: rem-calc(56);
      line-height: rem-calc(56);
      padding-top: 0;
      padding-bottom: 0;
      @include breakpoint(medium) {
        margin-bottom: 0;
        width: auto;
      }
      &:focus {
        outline: 0;
        border: 1px solid $primary-color;
        box-shadow: none;
        transition: border-color .25s ease-in-out;
      }
    }
  
    // submit button
    button[type="submit"] {
      background-color: $primary-color;
      color: $white;
      height: rem-calc(56);
      line-height: rem-calc(56);
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 1.125rem;
      padding-right: 1.125rem;
      font-weight: bold;
      margin-bottom: 0;
      margin-left: 10px;
      cursor: pointer;
      @include transition(background-color 0.2s ease-in-out);
      &:hover {
        background-color: darken($primary-color,15%);
      }
    }

  }
  &.is-open .form-box-fields {
    max-height: 400px;
    visibility: visible;
    opacity: 1;
    margin-top: 1.5rem;
  }
  .success-message {
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s, opacity .5s linear;
    display: flex;
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    min-height: calc(100% + 2px);
    box-sizing: border-box;
    background-color: $white;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid $black;
    padding: 15px;

    @include breakpoint(small only) {
      justify-content: center;
      & > p {
        margin-bottom: 1rem;
        text-align: center;
      }
      .button {
        width: 100%;
      }
      a.button {
        margin-bottom: 10px;
      }
    }
    @include breakpoint(medium) {
      flex-direction: row;

      & > div {
        display: flex;
      }
    }

    .button {
      margin-bottom: 0;
    }
  }

  &.success .success-message {
    visibility: visible;
    opacity: 1;
  }


}

// myVIP form
// ----------
.form-box.myvip {

  // fields
  .form-box-fields {
    input, select, button {
      flex-grow: 1;
    }
    [name="listing_type"] {
      min-width: 75px;
    }
    [name="property_class"] {
      min-width: 125px; 
    }
    input {
      min-width: 100px;
    }
    @include breakpoint(small down) {
      button {
        width: 100%;
      }
    }
    @include breakpoint(medium only) {
      margin-top: 1.5rem;
    }
  }

}


// appraisal form
// --------------
.form-box.appraisal {
  justify-content: space-between;

  .form-box-fields button[type=submit] {
    width: 100%;
  }

  @include breakpoint(large) {
    .form-header {
      width: 35%;
      min-width: unset;
    }
  
    .form-box-fields {
      width: 65%;
    }
  
    .form-box-fields input[name="name"] {
      flex-grow: 1;
    }
    .form-box-fields input[name="email"] {
      flex-grow: 0.5;
    }

    .form-box-fields button[type=submit] {
      width: unset;
    }
  }

}


// Black background forms
// ----------------------
.form-black {
  padding: 15px;
  background: $black;
  color: #FFF;
  position: relative;
  * {
    color: #fff;
  }
  input,
  textarea {
    border: 1px solid #FFF;
    background-color: $black;
    &:focus {
      outline: 0;
      border: 1px solid get-color(primary);
      background-color: $black;
      //box-shadow: 0 0 5px #dbdada;
      box-shadow: none;
      transition: box-shadow .5s, border-color .25s ease-in-out;
    }
  }
  ul {
    list-style: none;
    margin-left: 0;
  }
  label[for="id_email_address"] {
    &:after {
      content: "*";
      display: inline-block;
      font-size: 17px;
      color: get-color(primary);
      margin-left: 2px;
    }
  }
}


// Singular Form Elements
// ----------------------

// input
input {
  opacity: 1;
  transition: opacity 0.2s ease-in, background-color 0.2s ease-in;
  background-color: transparent;
  &:disabled {
    background-color: $light-gray !important;
    opacity: 0.4;
  }
}
.input {
  input {
    padding: 0 1rem;
    margin-bottom: 0;
    height: $field-height;
  }
}

textarea {
  opacity: 1;
  transition: opacity 0.2s ease-in, background-color 0.2s ease-in;
  background-color: transparent;
  &:disabled {
    background-color: $light-gray !important;
    opacity: 0.4;
  }
}

// select
select {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='13' height='8' viewBox='0 0 13 8'><polygon points='11.76 0.25 12.5 1.07 6.25 7.75 0 1.07 0.74 0.25 6.25 6.11 11.76 0.25' style='fill: rgb%28235, 0, 139%29'></polygon></svg>");
  background-size: 13px 8px;
  opacity: 1;
  transition: opacity 0.2s ease-in, background-color 0.2s ease-in;
  background-color: transparent;
  &:disabled {
    background-color: $light-gray !important;
    opacity: 0.4;
  }
}
.select {
  position: relative;

  &::after {
    content: $ionicon-var-ios-arrow-down;
    font-family: $ionicons-font-family;
    font-size: 20px;
    @include vertical-center;
    right: 15px;
    pointer-events: none;
  }

  &.dark {
    select {
      color: #fff;
      border-color: $black;
      background-color: $black;
    }

    &::after {
      color: #fff;
    }
  }

  select {
    padding: 0 1rem;
    margin-bottom: 0;
    height: $field-height;
    background-image: none;
  }
}