.listing-block {

  // listings
  .listing-item {
      background-color: $light-gray;
      display: flex;
      flex-flow: column;
      overflow: hidden;
      position: relative;

      // link
      & > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      // image
      .listing-image-wrapper {
          position: relative;
          width: 100%;
          height: 65%;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          img {
            flex-shrink: 0;
            min-width: 100%;
            min-height: 100%;
          }
          .logo {
              position: absolute;
              bottom: 6px;
              right: 6px;
              height: 2rem;
          }
          .sold-badge {
              position: absolute;
              display: table;
              top: 50%;
              left: 50%;
              background-color: $primary_color;
              color: $white;
              transform: translate(-50%,-50%) rotate(-15deg);
              opacity: 0.7;
              font-size: 1.5rem;
              @include breakpoint(large) {
                font-size: 2rem;
              }
          }
          .inspection-time {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($primary_color,0.8);
            padding: 0.125rem 0.5rem;
            color: $white;
            i {
                display: inline-block;
                margin-right: 0.25rem;
                color: $white;
            }
          }
      }

      // info block
      .listing-info {
          display: flex;
          flex-flow: column;
          position: relative;
          padding: 1rem;
          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: -100%;
            width: 100%;
            height: 7px;
            background-color: $primary_color;
            @include transition(left 0.2s ease-out);
          }
      }

      // address
      .listing-address > span.color-primary {
        @include breakpoint(medium) {
            display: block;
        }
      }
      .listing-address-suburb {
        font-size: 1rem;
        line-height: 1;
        @include breakpoint(medium) {
            font-size: rem-calc(20);
        }
      }

      // options
      .listing-options {
          margin-top: 0.5rem;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          @include breakpoint(medium) {
            justify-content: flex-end;
            align-items: flex-start;
            margin-top: 0;
          }
      }
      .listing-options > span {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      .listing-options > span ~ span {
          margin-left: 1rem;
      }
      .listing-options img {
          margin-right: 0.5rem;
          height: 1rem;
          @include breakpoint(medium) {
            height: rem-calc(20);
          }
      }

      // listing footer
      .listing-footer {
        z-index: 1;
      }

      // agent image
      .profile-image {
          height: 50px;
          width: 50px;
          background-color: $white;
          border: solid 1px $light-gray;
          @include transition(border-color 0.2s ease-in);
      }

      // agent link
      a.listing-agent-link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $black;
        @include transition(color 0.2s ease-in);
        &:hover {
          color: $primary-color;
          .profile-image {
            border-color: $primary-color;
          }
        }
      }

      // button
      a.button {
          z-index: 1;
          margin: 0;
          padding: 8px 20px;
      }
      .listing-button-wrap {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      // link & hover
      &:hover .listing-info:after {
        left: 0;
      }

  }
  .day-header {
    margin-bottom: 0;
    margin-top: 3rem;
    font-size: 1.5rem;
  }
}
